.icons {
    width: 20px;
}

.logo-marca {
    width: 150px;
}

/* .menu__link {
    color: black;
    text-decoration: none;
    font-size: 18px;
} */

/* .menu__link:hover {
    color: red;
} */

.sidebar {
    width: 260px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.sidebar h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.sidebar label {
    display: block;
    margin-bottom: 5px;
}

.filter-color-option {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.filter-color-swatch {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 4px;
    vertical-align: middle;
    margin-left: 10px;
}



.products {
    flex: 1;
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    transition: 0.2s;
    background: #fff;
}

.product:hover {
    transform: scale(1.03);
    border-color: #aaa;
}

.product img {
    width: 100%;
    height: auto;
}

.name {
    font-size: 18px;
    margin-top: 8px;
    color: black;
}

.price {
    color: gray;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: #777;
    font-size: 14px;
}
